<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Portfolio • {% block title %}{% endblock %}</title>
        {% block stylesheets %}
             {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="app-container">
            <div class="app-header">
                <div class="app-header-left">
                    <span class="app-icon"></span>
                    <p class="app-name">My Portfolio</p>
                </div>
                <div class="app-header-right">
                    <button class="profile-btn">
                        <img src="{{ asset('images/axelc.jpg') }}" />
                        <span>Axel Croizé</span>
                    </button>
                </div>
            </div>
            <div class="app-content">
                <div class="app-sidebar">
                    <a href="{{path('default')}}" class="app-sidebar-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        <polyline points="9 22 9 12 15 12 15 22" /></svg>
                    </a>
                </div>
                <div class="projects-section box">
                    <div class = "content">
                        {% block previous %}{% endblock %}
                        <div class="projects-section-header">
                            <p>{% block pageTitle %}{% endblock %}</p>
                            <p class="time">{% block dates %}{% endblock %}</p>
                        </div>
                        <div class="projects-section-line">
                            {% block subheader %}{% endblock %}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
